*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #e7e7f1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1260px;
  margin: 50px auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {}

.course {
  color: #7A7A7A;
  align-items: center;
  display: flex;
}

.statistic {
  display: flex;
  align-items: center;
}

.left-pozition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-pozition {
  align-items: center;
  display: flex;
}

.icon-bar {
  display: flex;
  align-items: center;
}

.icon-list {
  display: flex;
  align-items: center;
  padding: 0;
}

.search-btn {
  background-image: url("../img/search-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #e7e7f1;
}




.icon-item {
  margin-left: 31px;
  align-items: center;
  display: flex;
}

.course-before::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  margin-left: 17px;
  background-size: cover;
}

.dollar::before {
  background-image: url("../img/dollar.png");
}
.ruble::before {
  background-image: url("../img/ruble.png");
}
.euro::before {
  background-image: url("../img/euro.png");
}

.lang-text {
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  line-height: 19px;
  color: #535353;
}

.lang-text::before {
  content: '';
  background-image: url("../img/lang-icon.png");
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  display: inline-block;
}

.telegram-text {
  display: flex;
  color: #fff;
  padding: 10px;
  justify-content: center;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
}

.telegram-text::before {
  content: '';
  background-image: url("../img/telegram.png");
  width: 20px;
  height: 20px;
  border: 0.5px #1E96C8;
  margin-right: 5px;
  background-repeat: no-repeat;
  display: inline-block;
}


.nav-list {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 0 20px rgba(197, 189, 189, 0.089);
  justify-content: space-between;
}

.nav-link {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #948787;
  transition: all 0.7s ease;
}

.nav-link:hover {
  background-color: transparent;
  color: #000000;
  transition: all 0.7s ease;
}

.nav-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.covid-list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color:#F6F6F9;
  padding: 21px 88px 21px 35px;
}

.info {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.covid-black {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.covid::before {
  content: "";
  background-image: url("../img/covid-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 43px;
  height: 45px;
  margin-right: 25px;
}


.covid::after {
  content: "";
  background-image: url("../img/big-column.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 2px;
  height: 74px;
  margin-left: 71px;
}

.infact::before {
  content: "";
  background-image: url("../img/infected-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 38px;
  height: 40px;
  margin-right: 25px;
}

.infact::after,
.good::after {
  content: "";
  background-image: url("../img/small-column.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 2px;
  height: 49px;
  margin-left: 42px;
}

.good::before {
  content: "";
  background-image: url("../img/recovered-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 38px;
  height: 40px;
  margin-right: 25px;
}

.dead::before {
  content: "";
  background-image: url("../img/dead-icon.png");
  display: inline-block;
  background-repeat: no-repeat;
  width: 38px;
  height: 38.8px;
  margin-right: 25px;
}

.info-title-red {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #DB0000;
  margin-bottom: -13px;
}

.info-title-green {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #05B135;
  margin-bottom: -13px;
}

.black-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.info-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}